<%- include('head'); %>
<div class="admin">
    
        <div class="sidebar">
            <center><img  src="/logo.png"></center>
            <br>    
            <center><a href="/admin" >Overview</a><br>
            <a href="/admin/products">Products</a><br>
            <a href="/admin/images" >Images</a><br>
            <a href="/admin/orders" >Orders</a><br><br><br>
            <a href="/" >Logout</a><br></center>
        </div>
        <div class="content">
            <h1>Overview</h1>
            <br><br>
            <div class="row">
            <div class="column">
                <div class="card">
                <h5>Pending Orders</h5>
                <p>4</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                <h5>Total Stock</h5>
                <p>25 pcs</p>
                </div>
            </div>
            
            <div class="column">
                <div class="card">
                <h5>Total Sales</h5>
                <p>P 6,750</p>
                </div>
            </div>

            </div>
            
              </style>
              </head>
              <body>
              <br><br>
              <h2>Stock</h2>
              
              <table>
                <tr>
                  <th>Shirt Name</th>
                  <th>XS</th>
                  <th>S</th>
                  <th>M</th>
                  <th>L</th>
                  <th>XL</th>
                  <th>2XL</th>
                </tr>
                <tr>
                  <td>Chrome Tee</td>
                  <td>2</td>
                  <td>5</td>
                  <td>2</td>
                  <td>0</td>
                  <td>3</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Smiley Tee</td>
                  <td>0</td>
                  <td>3</td>
                  <td>0</td>
                  <td>2</td>
                  <td>5</td>
                  <td>2</td>
                </tr>
              </table>
        </div>
     
</div>

<style>
.sidebar img{
    margin-top: 20px;
    width: 70%;
}
.sidebar {
  width: 15%;
  background: black;
  height: 600px;
  float: left;
}

.content {
  margin-left: 15%;
  height: 600px;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 26px;
  text-align: center;
  background-color: #f1f1f1;
}

table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }

</style>