<%- include('head'); %>
<div class="orders">
    <div class="sidebar">
        <center><img  src="/logo.png"></center>
        <br>    
        <center><a href="/admin" >Overview</a><br>
        <a href="/admin/products">Products</a><br>
        <a href="/admin/images" >Images</a><br>
        <a href="/admin/orders" >Orders</a><br>
        <br><br>
        <a href="/" >Logout</a><br></center>
    </div>
    <div class="content">
        <h1>Orders</h1>
        <table>
            <tr>
              <th>Order Details</th>
              <th></th>
            </tr>
            <tr>
              <td>John Doe<br>john.doe@dotcom<br>09XX-XXX-XXXX<br>Smiley, S, 2pcs<br>Total: 1000</td>
              <td><button>Mark as done</button></td>
            </tr>
          </table>
    </div>
</div>

<style>
    .sidebar img{
margin-top: 20px;
width: 70%;
}
.sidebar {
width: 15%;
background: black;
height: 600px;
float: left;
}

.content {
margin-left: 15%;
height: 600px;
padding: 20px;
}

table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }

</style>